@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap');


body{
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3{
    font-family: 'Poppins', sans-serif;
}

p{
}

.cor_vermelha{
    
    color: #900;
}

#titulo{
    font-size: 40px;
    color: #369;
}

.container{
    /*width: 500px;*/
    width: 100%;
    height: 500px;
    background-color: #ccc;
    margin: 50px;
}